@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin-right: 40px;

}
#logo img{
    height: 42px;
    filter: invert();
}
#navbar{
    background-color: darkred;
    padding: 11px 4px;
    font-family: 'Heebo', sans-serif;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;


}
#navbar li{
    list-style: none;
}
#navbar li a{
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    font-weight: bold;

}
#navbar li a:hover{
    color: lightblue;
   

}
#introSection{
background: center / cover no-repeat url("/static/bg.jpg");
height: 420px;
background-color: darkblue; 
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Roboto', sans-serif;
font-size: 65px;
/* border: 2px solid black; */
}
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}

#missionSection{
    height: 326px;
    background-color: white;
    width: 67%;
    margin: auto;
}

#missionSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Roboto', sans-serif;
}
.card{
    display: inline-block;
    /* display: flex; */
    /* flex-direction: row; */
    border: 2px solid black;
    border-radius: 10px;
    width: 29%;
    margin: 23px 20px;
    height: 209px;
   }
.card h3{
    text-align: center;
    margin: 12px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
                             
}
.card-img img
{
/* height: inherit; */
/* padding: 0 14px; */
height:100px;
}

#sponsor{
    width: 100%;
height: 300px;
background-color: grey;
}
#sponsors{
    height: 191px;
    max-width: 1000px;
    margin: 27px auto;
}
.spImage{
    height: 80%;
    margin: 20px;
}
#sponsor h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Roboto', sans-serif;
}



#footer{
display: flex;
color: white;
height: 60px;
justify-content: center;
align-items: center;
background-color: black;
font-family: 'Roboto', sans-serif;
}