h1{
    text-align: center;
    margin: 20px 0;
}
.container{
    min-height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: center;
    margin-bottom: 210px;
    margin-top:50px;
}
.myform{
     display: flex;
    flex-direction: column; 
    /* width: 50%; */
    
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
font-size: 18px;
width: 35%;
padding: 9px;
margin: 8px;
border: 2px solid black;
border-radius: 10px;
outline: none;
text-align: center;
}
.btn{
    padding: 6px 9px;
    font-size: 16px;
    border: 2px solid black;
    background-color: brown;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin: 10px 0;
}